html {
  /*font-size: 20px;*/
}

hr {
  height: 3px;
  background-color: red;
}

body{
  background: #72d9fb;
}

section {
 bakground: rgba(255,255,255,.6);
 box-sizing:border-box;
 font-size: .9em;
 float: left;
 margin; 1%;
 padding 1em; 
  }
  
  img {
    max-width: 100%;
    }

@media (min-width: 360px){
  body{
    background: aqua;
     } 
     section {
      width: 48%;
     }
}

@media (min-width: 768px){
  body{
    background: red;
     } 
     section {
      width: 31.33%;
     }
}

@media (min-width: 1200px){
  body{
    background: yellow;
     } 
     section {
      width: 23%;
     }
}

@media video {
    width:100%;
}

/* Podemos eliminar este estilo si no queremos que se adapte al ancho máximo */
.delimitador{
    width:560px;    /* Ancho máximo */
    margin:auto;    /* Centramos el vídeo */
}
/* El contenedor con el padding-top crea el tamaño del vídeo */
.contenedor{
    height:0px;
    width:100%;
    padding-top:56.25%; /* Relación: 16/9 = 56.25% */
    position:relative;
}
/* El iframe se adapta al tamaño del contenedor */
.contenedor iframe{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}
